{% extends "usuarios/panel-sesion.html" %}

{% block title %}Contraseña Cambiada - Constru-trans{% endblock %}

{% block content %}
<div class="text-center py-4 animate-up">
    <div class="illustration-wrapper mx-auto mb-5 animate__animated animate__bounceIn u-inline-d8f1743a5d">
        <i class="bi bi-check-circle-fill u-inline-a87128d9cd"></i>
    </div>
    
    <h1 class="welcome-h1 u-inline-9e25bbab05">¡ÉXITO!</h1>
    
    <p class="mb-5 px-3 u-inline-53aa48a8ae">
        Tu contraseña ha sido actualizada correctamente. 
        Ya puedes iniciar sesión con tus nuevas credenciales.
    </p>

    <div class="d-grid animate-up delay-1">
        <a href="{% url 'usuarios:login' %}" class="btn-main text-decoration-none u-inline-a8ae57bd64">
            INICIAR SESIÓN AHORA <i class="bi bi-arrow-right ms-2"></i>
        </a>
    </div>

    <div class="mt-5 pt-4 border-top border-secondary u-inline-3bb3d2b969">
        <p class="small mb-0 u-inline-5c693dd9ff">
            ¿Necesitas ayuda? <a href="https://chat.whatsapp.com/EN3S08Z50IvGENZv7IX1AK" target="_blank" class="u-inline-ab2f07ded3">Entrar al Grupo de Soporte</a>.
        </p>
    </div>
</div>
{% endblock %}
