# --- Seguridad ---
SECRET_KEY=TU_SECRET_KEY_LARGA
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# --- Base de datos (Neon PostgreSQL) ---
# IMPORTANTE: Si la contraseña es incorrecta o no hay internet, el sistema usará la base de datos local (db.sqlite3) automáticamente.
DB_ENGINE=django.db.backends.postgresql
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=TU_PASSWORD_DE_NEON_AQUI
DB_HOST=ep-fragrant-dew-anpj34eu.c-6.us-east-1.aws.neon.tech
DB_PORT=5432
DB_SSLMODE=require

# --- Correo (para recuperar contraseña) ---
# En desarrollo puedes usar consola:
# EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Para correo real con Gmail SMTP:
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu_correo@gmail.com
EMAIL_HOST_PASSWORD=TU_APP_PASSWORD_NUEVO
DEFAULT_FROM_EMAIL=tu_correo@gmail.com