{% extends "usuarios/panel-sesion.html" %}
{% load static %}

{% block title %}Recuperar Contraseña - Constru-trans{% endblock %}

{% block content %}
<div class="animate-up">
    <h1 class="welcome-h1" style="font-size: 2.2rem;">¿OLVIDÓ SU CLAVE?</h1>
    <p class="welcome-p">Ingrese su correo electrónico para enviarle un enlace de restauración.</p>
</div>

<form method="POST" class="animate-up delay-1">
    {% csrf_token %}

    <div class="form-group-custom">
        <label class="label-custom">Correo Electrónico</label>
        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" 
               placeholder="ejemplo@correo.com" class="input-custom">
        {% if form.email.errors %}
            <div class="text-danger small mt-1">
                {{ form.email.errors }}
            </div>
        {% endif %}
    </div>

    <div class="mt-4">
        <button type="submit" class="btn-main d-flex align-items-center justify-content-center">
            <i class="bi bi-send-fill me-2"></i> Enviar Enlace
        </button>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'usuarios:login' %}" class="text-decoration-none small fw-bold" style="color: var(--primary-gold);">
            <i class="bi bi-arrow-left me-1"></i> Volver al Inicio de Sesión
        </a>
    </div>
</form>
{% endblock %}
