BEGIN;
--
-- Create model CategoriaAyuda
--
CREATE TABLE "categoria_ayuda" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(100) NOT NULL, "descripcion" text NOT NULL, "orden" integer NOT NULL CHECK ("orden" >= 0));
--
-- Create model ColorSistema
--
CREATE TABLE "color_sistema" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "nombre" varchar(100) NOT NULL, "codigo_hex" varchar(7) NOT NULL, "descripcion" text NOT NULL, "uso" varchar(200) NOT NULL, "activo" boolean NOT NULL);
--
-- Create model GuiaEdicion
--
CREATE TABLE "guia_edicion" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "titulo" varchar(200) NOT NULL, "contenido" text NOT NULL, "orden" integer NOT NULL CHECK ("orden" >= 0), "fecha_creacion" timestamp with time zone NOT NULL, "fecha_actualizacion" timestamp with time zone NOT NULL, "es_favorito" boolean NOT NULL, "activo" boolean NOT NULL, "categoria_id" bigint NOT NULL);
--
-- Create model ManualUsuario
--
CREATE TABLE "manual_usuario" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "titulo" varchar(200) NOT NULL, "version" varchar(50) NOT NULL, "archivo" varchar(100) NOT NULL, "fecha_publicacion" date NOT NULL, "activo" boolean NOT NULL);
--
-- Create model PasoGuia
--
CREATE TABLE "paso_guia" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "numero_paso" integer NOT NULL CHECK ("numero_paso" >= 0), "titulo_paso" varchar(200) NOT NULL, "descripcion" text NOT NULL, "imagen" varchar(100) NULL, "url_referencia" varchar(200) NULL, "guia_id" bigint NOT NULL);
--
-- Create model SugerenciaRecomendacion
--
CREATE TABLE "sugerencia_recomendacion" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "tipo" varchar(20) NOT NULL, "titulo" varchar(200) NOT NULL, "descripcion" text NOT NULL, "estado" varchar(20) NOT NULL, "fecha_creacion" timestamp with time zone NOT NULL, "fecha_actualizacion" timestamp with time zone NOT NULL, "usuario_id" bigint NOT NULL);
ALTER TABLE "guia_edicion" ADD CONSTRAINT "guia_edicion_categoria_id_e0c703be_fk_categoria_ayuda_id" FOREIGN KEY ("categoria_id") REFERENCES "categoria_ayuda" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "guia_edicion_categoria_id_e0c703be" ON "guia_edicion" ("categoria_id");
ALTER TABLE "paso_guia" ADD CONSTRAINT "paso_guia_guia_id_e7c930b4_fk_guia_edicion_id" FOREIGN KEY ("guia_id") REFERENCES "guia_edicion" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "paso_guia_guia_id_e7c930b4" ON "paso_guia" ("guia_id");
ALTER TABLE "sugerencia_recomendacion" ADD CONSTRAINT "sugerencia_recomendacion_usuario_id_98656a1c_fk_usuario_id" FOREIGN KEY ("usuario_id") REFERENCES "usuario" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "sugerencia_recomendacion_usuario_id_98656a1c" ON "sugerencia_recomendacion" ("usuario_id");
COMMIT;
